============================================
      ANSIBLE MANAGED SERVER
============================================
  Hostname    : {{ ansible_hostname }}
  IP Address  : {{ ansible_default_ipv4.address }}
  OS          : {{ ansible_distribution }} {{ ansible_distribution_version }}
  Kernel      : {{ ansible_kernel }}
  CPUs        : {{ ansible_processor_vcpus }}
  RAM         : {{ ansible_memtotal_mb }} MB
  Environment : {{ env | default('unknown') }}
  Last Deploy : {{ ansible_date_time.date }}
============================================
  Managed by Ansible | TrainWithShubham
============================================
