============================================
  Host    : {{ ansible_hostname }}
  IP      : {{ ansible_default_ipv4.address }}
  OS      : {{ ansible_distribution }} {{ ansible_distribution_version }}
  Env     : {{ env | default('unknown') }}
  Managed : Ansible @ {{ ansible_date_time.date }}
============================================
